{% extends 'instructor.html' %}
<!-- <div class="tab-content"> -->
<!-- {% block content3 %} -->
{% with messages = get_flashed_messages(with_categories=true) %} {% if
messages %} {% for category, message in messages %} {% if category ==
'error' %}
<div class="alert alert-danger alert-dismissible fade show nomargin" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% else %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %} {% endfor %} {% endif %} {% endwith %}
<div id=card>
<div id="createdgames" class="tab-pane active">
    <h3> Created Games</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Game #</th>
                <th scope="col">Instructor ID</th>
                <th scope="col">Modify</th>
                <th scope="col">Delete Game</th>
            </tr>
        </thead>
        </br>
        <tbody>
            {% for user in userdetails %}
            <tr>
                <th scope="row">{{user[1]}}</th>
                <td>{{user[0]}}</td>
                <td>
                    <form method="GET" action="{{ url_for('modifygame', id= user[1]) }}">
                        <button type="submit" class="btn btn-warning btn-sm"> Modify </button>
                    </form>
                </td>
                <td>
                    <form method="POST" action="{{ url_for('deletegame', id= user[1]) }}">
                        <button type="submit" class="btn btn-warning btn-sm"> Delete </button>
                    </form>
                </td>
            </tr>
            {% endfor%}
            <!-- <tr>
                <th scope="row">2</th>
                <td>Jacob</td>

            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Mark</td>
            </tr> -->
        </tbody>
    </table>
</div>
</div>

<!-- {% block content8 %} {% endblock %}-->
<!-- {% endblock %} -->