{% extends 'layout.html' %}

{% block content %}

<h2>Instructor Home Page</h2>
<p>Welcome back Instructor, {{name}}!</p>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('creategame') }}">Create Game</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('createdgames') }}">View Created Games</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('viewgamedetail') }}">View Details</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('login') }}">Create Demand Pattern</a>
    </li>
</ul>



<!-- <div class="tab-content"> -->
    <!-- {% block content2 %} {% endblock %} -->
    <!-- {% block content3 %} {% endblock %} -->
    <!-- {% block content6 %} {% endblock %} -->
    <!-- {% block content8 %} {% endblock %}-->
<!-- <div id="menu1" class="tab-pane fade">
    <h3>Created Games</h3>
    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
</div> -->
<!-- <div id="menu2" class="tab-pane fade">
    <h3>Menu 2</h3>
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
        aperiam.</p>
</div> -->
<!-- </div> -->


{% endblock %}