<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <!--
      manifest.json provides metadata used when your web app is installed on a
      user's mobile device or desktop. See https://developers.google.com/web/fundamentals/web-app-manifest/
    -->
  <!--
      Notice the use of %PUBLIC_URL% in the tags above.
      It will be replaced with the URL of the `public` folder during the build.
      Only files inside the `public` folder can be referenced from the HTML.

      Unlike "/favicon.ico" or "favicon.ico", "%PUBLIC_URL%/favicon.ico" will
      work correctly both with client-side routing and a non-root public URL.
      Learn how to configure a non-root public URL by running `npm run build`.
    -->
  <link rel="stylesheet" href="./my_instructors.css">
  <script src="./my_instructors.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <title>General Template</title>
</head>

<body>
  <div id='sidebar' onmouseenter='openNav()' onmouseleave="closeNav()">
    <div id='container_user_options' class='sidebar_options'>
      <h1 class='sidebar_options'>My options</h1>
      <a href="">
        <h2 class='sidebar_options'>My Games</h2>
      </a>
      <a href="">
        <h2 class='sidebar_options'>My Instructors</h2>
      </a>
      <a href="">
        <h2 class='sidebar_options'>My Logs</h2>
      </a>
    </div>
    <div id='container_site_options' class='sidebar_options'>
      <h1 class='sidebar_options'>Site options</h1>
      <a href="" onclick="game_instructions()">
        <h2 class='sidebar_options'>Game Instructions</h2>
      </a>
      <a href="">
        <h2 class='sidebar_options'>Data Policy</h2>
      </a>
      <a href="">
        <h2 class='sidebar_options'>Settings</h2>
      </a>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top side_shift" id="navbar">
    <div id='logo'>
      <a class="navbar-brand" href="">
        <h1>The Beer Game</h1>
      </a>
    </div>
    <div id='utilities'>
      <form class="form-inline my-2 my-lg-0" id='search'>
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <div class="dropdown" id='options' onMouseLeave='cleanup'>
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Options
        </button>
        <div class="dropdown-menu" id='options_drop_down_menu' aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Logout</a>
          <a class="dropdown-item" href="#">Sign in as another user</a>
          <a class="dropdown-item" href="#">Suggestions</a>
        </div>
      </div>
    </div>
  </nav>
  </div>
  <div id='content' class=''>
    <h1 style='color: white;' class='side_shift'>My Instructors</h1>
    <div id="accordion" class="side_shift" onmouseenter='glow(event)' onmouseleave='dim(event)'>
      <div class="card">
        <div class="card-header" id="headingOne">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
            aria-controls="collapseOne">
            <h4 class="mb-0">{{instructors[0]['name']}}</h4>
          </button>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <h4>Email address: {{instructors[0]['email']}}</h4>
            <h5>Games managed by {{instructors[0]['name']}}</h5>
            <ul>
              <li>{{instructors[0]['games'][1]['name']}}: <a href="{{instructors[0]['games'][1]['link']}}">Click here to
                  play</a></li>
              <li>{{instructors[0]['games'][2]['name']}}: <a href="{{instructors[0]['games'][2]['link']}}">Click here to
                  play</a></li>
              <li>{{instructors[0]['games'][3]['name']}}: <a href="{{instructors[0]['games'][3]['link']}}">Click here to
                  play</a></li>
              <li>{{instructors[0]['games'][4]['name']}}: <a href="{{instructors[0]['games'][4]['link']}}">Click here to
                  play</a></li>
              <li>{{instructors[0]['games'][5]['name']}}: <a href="{{instructors[0]['games'][5]['link']}}">Click here to
                  play</a></li>
              <li>{{instructors[0]['games'][6]['name']}}: <a href="{{instructors[0]['games'][6]['link']}}">Click here to
                  play</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
            aria-controls="collapseTwo">
            <h4 class="mb-0">{{instructors[1]['name']}}</h4>
          </button>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            <h4>Email address: {{instructors[1]['email']}}</h4>
            <h5>Games managed by {{instructors[1]['name']}}</h5>
            <ul>
              <li>{{instructors[1]['games'][1]['name']}}: <a href="{{instructors[1]['games'][1]['link']}}">Click here to
                  play</a></li>
              <li>{{instructors[1]['games'][2]['name']}}: <a href="{{instructors[1]['games'][2]['link']}}">Click here to
                  play</a></li>
              <li>{{instructors[1]['games'][3]['name']}}: <a href="{{instructors[1]['games'][3]['link']}}">Click here to
                  play</a></li>
              <li>{{instructors[1]['games'][4]['name']}}: <a href="{{instructors[1]['games'][4]['link']}}">Click here to
                  play</a></li>
              <li>{{instructors[1]['games'][5]['name']}}: <a href="{{instructors[1]['games'][5]['link']}}">Click here to
                  play</a></li>
              <li>{{instructors[1]['games'][6]['name']}}: <a href="{{instructors[1]['games'][6]['link']}}">Click here to
                  play</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true"
            aria-controls="collapseThree">
            <h4 class="mb-0">{{instructors[2]['name']}}</h4>
          </button>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            <h4>Email address: {{instructors[2]['email']}}</h4>
            <h5>Games managed by {{instructors[2]['name']}}</h5>
            <ul>
              <li>{{instructors[2]['games'][1]['name']}}: <a href="{{instructors[2]['games'][1]['link']}}">Click here to
                  play</a></li>
              <li>{{instructors[2]['games'][2]['name']}}: <a href="{{instructors[2]['games'][2]['link']}}">Click here to
                  play</a></li>
              <li>{{instructors[2]['games'][3]['name']}}: <a href="{{instructors[2]['games'][3]['link']}}">Click here to
                  play</a></li>
              <li>{{instructors[2]['games'][4]['name']}}: <a href="{{instructors[2]['games'][4]['link']}}">Click here to
                  play</a></li>
              <li>{{instructors[2]['games'][5]['name']}}: <a href="{{instructors[2]['games'][5]['link']}}">Click here to
                  play</a></li>
              <li>{{instructors[2]['games'][6]['name']}}: <a href="{{instructors[2]['games'][6]['link']}}">Click here to
                  play</a></li>
            </ul>
          </div>
        </div>
      </div>



      <!-- Automate the process by the following code -->


      <!-- <div id="accordion" class="side_shift" onmouseenter='glow(event)' onmouseleave='dim(event)'>
      {% for instructor in instructors %}
      <div class="card">
        <div class="card-header" id="heading{{instructor['email']}}">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne{{instructor['email']}}" aria-expanded="true"
            aria-controls="collapse{{instructor['email']}}">
            <h4 class="mb-0">{{instructors[0]['name']}}</h4>
          </button>
        </div>
        <div id="collapseOne{{instructor['email']}}" class="collapse" aria-labelledby="heading{{instructor['email']}}" data-parent="#accordion">
          <div class="card-body">
            <h4>Email address: {{instructor['email']}}</h4>
            <h5>Games managed by {{instructor['name']}}</h5>
            <ul>
              {%for game in instructor['games']%}
              <li>{{game['name']}}: <a href="{{game['link']}}">Click here to play</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      {% endfor %}
    </div> -->
    </div>
</body>

</html>