@keyframes expand {
  0% {
    background-color: black;
    width: 2%;
  }
  50% {
    background-color: black;
    width: 25%;
  }
  100% {
    background-color: white;
    width: 25%;
  }
}

@keyframes shrink{
  0%{
    width: 25%;
    background-color: white;
  }
  100%{
    width: 2%;
    background-color: black;
  }
}


@keyframes shift_left {
  0% {
    margin-left: 0px;
    opacity: 1;
  }
  100% {
    margin-left: 25%;
    opacity: 0.5;
  }
}

@keyframes shift_back {
  0% {
    margin-left: 25%;
    opacity: 0.5;
  }
  100% {
    margin-left: 0px;
    opacity: 0.9;
  }
}


@keyframes dim{
  from{
    opacity: 1;
  }to{
    opacity: 0.5;
    margin-left: 0%;
  }
}

@keyframes glow{
  from{
    opacity: 0.5
  }to{
    opacity: 1;
  }
}

body{
  background-image: url('./beers.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
  overflow-y: initial;
}

#logo{
  position: absolute;
  left: 5%;
  top: 5%;
}

#logo h1{
  color: gold;
}

#utilities{
  position: absolute;
  right: 35%;
  top: 30%;
}

#search{
  position: absolute;
  left: 10%;
  margin-left: 10px;
  width: max-content;
}

#options{
  position: absolute;
  right: 100%;
}

#navbar{
  position: fixed;
  z-index: 50;
  height: 10%;;
}

#sidebar{
  width: 2%;
  position: fixed;
  background-color: black;
  z-index: 100;
}

#sidebar a{
  color: black;
}

#container_user_options{
  background-color: inherit;
  visibility: hidden;
  position:relative;
  margin: 5px;
  top: 0%;
  z-index: 101;
}

#container_site_options{
  background-color: inherit;
  visibility: hidden;
  position: absolute;
  margin: 5px;
  bottom: 2%;
  z-index: 101;
}

#sidebar h1{
  color: black;
}

#content{
  position: absolute;
  margin: 10px;
  padding: 10px;
  top: 10%;
  left: 5%;
  width: 90%;
  height: fit-content;
  background-color: white;
  opacity: 0.9;
}