<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <!--
      manifest.json provides metadata used when your web app is installed on a
      user's mobile device or desktop. See https://developers.google.com/web/fundamentals/web-app-manifest/
    -->
  <!--
      Notice the use of %PUBLIC_URL% in the tags above.
      It will be replaced with the URL of the `public` folder during the build.
      Only files inside the `public` folder can be referenced from the HTML.

      Unlike "/favicon.ico" or "favicon.ico", "%PUBLIC_URL%/favicon.ico" will
      work correctly both with client-side routing and a non-root public URL.
      Learn how to configure a non-root public URL by running `npm run build`.
    -->
  <link rel="stylesheet" href="./new_game.css">
  <script src="./new_game.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <title>General Template</title>
</head>

<body>
  <div id='sidebar' onmouseenter='openNav()' onmouseleave="closeNav()">
    <div id='container_user_options' class='sidebar_options'>
      <h1 class='sidebar_options'>My options</h1>
      <a href="">
        <h2 class='sidebar_options'>My Games</h2>
      </a>
      <a href="">
        <h2 class='sidebar_options'>My Students</h2>
      </a>
      <a href="">
        <h2 class='sidebar_options'>My Logs</h2>
      </a>
    </div>
    <div id='container_site_options' class='sidebar_options'>
      <h1 class='sidebar_options'>Site options</h1>
      <a href="">
        <h2 class='sidebar_options'>Data Policy</h2>
      </a>
      <a href="">
        <h2 class='sidebar_options'>Settings</h2>
      </a>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top side_shift" id="navbar">
    <div id='logo'>
      <a class="navbar-brand" href="">
        <h1>The Beer Game</h1>
      </a>
    </div>
    <div id='utilities'>
      <form class="form-inline my-2 my-lg-0" id='search'>
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <div class="dropdown" id='options' onMouseLeave='cleanup'>
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Options
        </button>
        <div class="dropdown-menu" id='options_drop_down_menu' aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Logout</a>
          <a class="dropdown-item" href="#">Sign in as another user</a>
          <a class="dropdown-item" href="#">Suggestions</a>
        </div>
      </div>
    </div>
  </nav>
  </div>
  <div id = 'content' class = 'side_shift'>
    <h1 style ='color: gold;'>Create a New Game</h1>
    <form action = '' onsubmit="return validation()" method = 'POST'>
      <div class = 'form-row'>
        <div class = 'form-group col-md-6'>
          <label for="game_name">New name of the Game</label>
          <input type="text" class = 'form-control' id = 'game_name' name = 'game_name' placeholder ="{{default['name']}}"/>
        </div>
        <div class="form-group col-md-6">
          <label for="demand_pattern">Demand Pattern</label>
          <select type="select" class="form-control" id="demand_pattern" name = 'demand_pattern'>
             <!-- 
              {%for demands in my_demands%}
              <option value="{{demands['id']}}">{{demands['name']}}</option>
              {% endfor %}
             -->
            <option value="demand_pattern1">Demand Pattern 1</option>
            <option value="demand_pattern2">Demand Pattern 2</option>
            <option value="demand_pattern3">Demand Pattern 3</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <fieldset class="form-group col-md-4">
          <div class="row">
            <legend class="col-form-label col-md-3 pt-0">Distributor Present</legend>
            <div class="col-md-10">
              <div class="form-check-inline">
                <input class="form-check-input" type="radio" name="gridRadios1" id="gridRadios1" value="True" checked>
                <label class="form-check-label" for="gridRadios1">
                  True
                </label>
              </div>
              <div class="form-check-inline">
                <input class="form-check-input" type="radio" name="gridRadios1" id="gridRadios2" value="False">
                <label class="form-check-label" for="gridRadios2">
                 False
                </label>
              </div>
          </div>
        </fieldset>
        <fieldset class="form-group col-md-4">
          <div class="row">
            <legend class="col-form-label col-sm-3 pt-0">Wholesaler present</legend>
            <div class="col-md-10">
              <div class="form-check-inline">
                <input class="form-check-input" type="radio" name="gridRadios2" id="gridRadios3" value="True" checked>
                <label class="form-check-label" for="gridRadios3">
                  True
                </label>
              </div>
              <div class="form-check-inline">
                <input class="form-check-input" type="radio" name="gridRadios2" id="gridRadios4" value="False">
                <label class="form-check-label" for="gridRadios4">
                  False
                </label>
              </div>
          </div>
        </fieldset>
        <fieldset class="form-group col-md-4">
          <div class="row">
            <legend class="col-form-label col-sm-3 pt-0">Information Sharing</legend>
            <div class="col-md-10">
              <div class="form-check-inline">
                <input class="form-check-input" type="radio" name="gridRadios3" id="gridRadios5" value="True" checked>
                <label class="form-check-label" for="gridRadios5">
                  True
                </label>
              </div>
              <div class="form-check-inline">
                <input class="form-check-input" type="radio" name="gridRadios3" id="gridRadios6" value="False">
                <label class="form-check-label" for="gridRadios6">
                  False
                </label>
              </div>
          </div>
        </fieldset>
      </div>
      <div class = 'form-row'>
        <div class="form-group col-md-4">
          <label for="duration">Duration</label>
          <input name = 'duration' min = '0' type="number" class="form-control" id="duration" placeholder="{{default['duration']}}">
        </div>
        <div class="form-group col-md-4">
          <label for="holding_cost">Holding Cost</label>
          <input name = 'holding_cost' type="number" min = '0' step = '0.01' class="form-control" id="holding_cost" placeholder="{{default['holding_cost']}}">
        </div>
        <div class="form-group col-md-4">
          <label for="backlog_cost">Backlog Cost</label>
          <input name = 'backlog_cost' type="number" min = '0' step = '0.01' class="form-control" id="backlog_cost" placeholder="{{default['backlog_cost']}}">
        </div>
      </div>
      <div class = 'form-row'>
        <div class="form-group col-md-4">
          <label for="starting_inventory">Starting inventory</label>
          <input name = 'starting_inventory' type="number" min = '0' class="form-control" id="starting_inventory" placeholder="{{default['starting_inventory']}}">
        </div>
        <div class="form-group col-md-4">
          <label for="info_delay">Information Delay</label>
          <input name = 'info_delay' type="number" min = '0' class="form-control" id="info_delay" placeholder="{{default['info_delay']}}">
        </div>
        <div class="form-group col-md-4">
          <label for="shipping_delay">Shipping Delay</label>
          <input name = 'shipping_delay' type="number" min = '0' class="form-control" id="shipping_delay" placeholder="{{default['shipping_delay']}}">
        </div>
      </div>
      <h2>Players</h2>
      <div class = 'form-row'>
        <div class="form-group col-md-6">
          <label for="retailer">Retailer</label>
          <select type="select" class="form-control players" id="retailer" name = 'retailer'>
             <!-- 
              {%for student in my_students%}
              <option value="{{my_students['id']}}">{{my_students['name']}}</option>
              {% endfor %}
             -->
            <option value="student_1">Student 1</option>
            <option value="student_2">Student 2</option>
            <option value="student_3">Student 3</option>
            <option value="student_4">Student 4</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="wholesaler">Wholesaler</label>
          <select type="select" class="form-control players" id="retailer" name = 'wholesaler'>
             <!-- 
              {%for student in my_students%}
              <option value="{{my_students['id']}}">{{my_students['name']}}</option>
              {% endfor %}
             -->
            <option value="student_1">Student 1</option>
            <option value="student_2">Student 2</option>
            <option value="student_3">Student 3</option>
            <option value="student_4">Student 4</option>
          </select>
        </div>
      </div>
      <div class = 'form-row'>
        <div class="form-group col-md-6">
          <label for="distributor">Retailer</label>
          <select type="select" class="form-control players" id="retailer" name = 'distributor'>
             <!-- 
              {%for student in my_students%}
              <option value="{{my_students['id']}}">{{my_students['name']}}</option>
              {% endfor %}
             -->
            <option value="student_1">Student 1</option>
            <option value="student_2">Student 2</option>
            <option value="student_3">Student 3</option>
            <option value="student_4">Student 4</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="factory">Factory</label>
          <select type="select" class="form-control players" id="retailer" name = 'wholesaler'>
            <!-- 
              {%for student in my_students%}
              <option value="{{my_students['id']}}">{{my_students['name']}}</option>
              {% endfor %}
             -->
            <option value="student_1">Student 1</option>
            <option value="student_2">Student 2</option>
            <option value="student_3">Student 3</option>
            <option value="student_4">Student 4</option>
          </select>
        </div>
      </div>
      <button type="submit" class="btn btn-primary pull-right">Change params</button>
    </form>
  </div>
</body>

</html>